@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.v-slider-bloc {
  height: 100vh;
}

.v-slider-bloc:nth-child(1) {
  background: #fff;
}

.v-slider-bloc:nth-child(2) {
  background-color: #fff !important;
  z-index: 50000;
}

.v-slider-bloc:nth-child(3) {
  background-color: #fff;
}

.v-slider-bloc:nth-child(4) {
  background-color: #fff;
}

.v-slider-bloc:nth-child(5) {
  background-color: #000;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
.contact .content {
  max-width: 1200px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
.contact .content p {
  font-weight: 200;
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}

.clr_title {
  color: lightseagreen;
}

.clr_title2 {
  color: crimson;
}

.containerS {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerS .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.containerS .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.containerS .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.containerS .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.containerS .contactInfo .box .text h3 {
  font-weight: 500;
  color: lightseagreen;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #ffffff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 1px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span, .contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span {
  color: crimson;
  font-size: 12px;
  transform: translateY(-15px);
}
.contactForm .inputBox input[type=submit] {
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

html {
  font-family: Verdana, Genava, Tahoma, sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.menu {
  position: fixed;
  width: 0px;
  z-index: 20000;
}

main {
  margin-left: 50px;
  width: 500px;
  text-align: justify;
}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background: black;
  width: 200px;
  display: block;
  color: white;
  text-align: right;
  transform: translateX(-168px);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background: black;
  overflow: hidden;
  width: 200px;
  transform: translateX(-200px);
}

#hamburger-logo,
nav {
  transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  transform: translate(0);
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background: #444;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Genos";
  font-weight: normal;
}
.home:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #e7e7ef, transparent);
  z-index: 10000;
}
.home:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e7e7ef;
  z-index: 10000;
  mix-blend-mode: color;
}
.home img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.home #textM {
  position: relative;
  color: #fff;
  font-size: 5em;
  text-align: center;
  z-index: 1;
}
.home #road {
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  header {
    position: absolute;
    left: -999em;
  }

  .container {
    background: none;
    background-color: #330033;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 85%;
  }

  .container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
  }
  .container .v-slider-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
  }
  .container .v-slider-bloc img {
    background-size: cover;
  }

  .am {
    grid-template-columns: auto;
  }
  .am .tBx {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 200px;
    margin: auto 10px;
    padding: 60px 30px;
  }
  .am h2 {
    color: #000;
    font-size: 1em;
  }
  .am .swag {
    border: red solid 1px;
    width: auto;
    margin-top: 0px;
  }
  .am .tit {
    border: green 1px solid;
    margin: 0 auto;
  }

  .contact .content {
    max-width: none;
  }
  .contact .content h2 {
    font-size: 38px;
  }
  .contact .content p {
    width: 400px;
    font-size: 15px;
    text-align: center;
  }

  .containerS {
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: stretch;
  }
  .containerS .contactForm {
    width: 80%;
  }
  .containerS .contactInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .containerS .contactInfo .box2 {
    display: none;
  }
  .containerS .contactInfo .box {
    width: 45%;
  }
  .containerS .contactInfo .box .icon {
    display: none;
  }
  .containerS .contactInfo .box .text h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .containerS .contactInfo .box .text p {
    font-size: 14px;
  }
}
hr {
  width: 70%;
  margin: 25px auto;
}

.amS {
  height: 70vh;
  margin: black 10px solid;
}
.amS img {
  width: 75px;
}
.amS h2 {
  text-align: center;
  font-weight: 800;
  margin-top: 15px;
  font-size: 1.6em;
  text-transform: uppercase;
}
.amS .am {
  display: flex;
  padding: 35px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.amS .desAm {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amS .desAm h3 {
  font-size: 3.5em;
  text-align: end;
  font-weight: 400;
  font-family: "Anek Latin", sans-serif;
  /* border: green solid 1px; */
  margin-right: 50px;
  width: 35%;
}
.amS .desBx {
  height: 100%;
  /* border: red solid 1px; */
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.amS .desBx .desTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 1.3em;
  font-weight: 300;
  color: #888;
}
.amS .logoAm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
}
.amS .logoAm .logoBx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.amS .logoAm h4 {
  margin-top: 15px;
}

/* Skills section */
.prog .process-wrapper {
  margin: auto;
  max-width: 1080px;
}
.prog #progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 65px;
}
.prog #progress-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}
.prog #progress-bar-container li:before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #aaa;
  transition: all ease 0.3s;
}
.prog #progress-bar-container li.active:before, .prog #progress-bar-container li:hover:before {
  border: solid 2px #fff;
  background: linear-gradient(to top left, #1d1d1d 45%, #ffffff 100%);
}
.prog #progress-bar-container li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}
.prog #progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}
.prog #progress-bar-container li.active, .prog #progress-bar-container li:hover {
  color: #444;
}
.prog #progress-bar-container li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  background: #777;
  margin: auto;
  border: solid 7px #fff;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}
.prog #progress-bar-container li:hover:after {
  background: #555;
}
.prog #progress-bar-container li.active:after {
  background: #207893;
}
.prog #progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #eee;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}
.prog #progress-bar-container #line-progress {
  content: " ";
  width: 3%;
  height: 100%;
  background: #207893;
  background: linear-gradient(to right, #686e7b 0%, #3b3f48 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}
.prog #progress-content-section {
  width: 90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
}
.prog #progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}
.prog #progress-content-section .section-content h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 42px;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}
.prog #progress-content-section .section-content p {
  font-size: 16px;
  line-height: 1.8em;
  color: #777;
}
.prog #progress-content-section .section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}
.prog #progress-content-section .section-content.active {
  display: block;
}
@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.prog h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  color: #333;
  font-weight: 700;
  margin-top: 125px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}

/* --- Start progress bar --- */
footer {
  height: 30vh !important;
}

/*# sourceMappingURL=style.css.map */
